.m_down{
  background-color: #fff;
  overflow: hidden;
}
.suc_le{
    float: left;
    margin-left: 50px;
    margin-bottom: 151px;
}
.suc_ri{
    float: left;
    width: 792px;
}
.pay{
    margin-top: 168px;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 19px;
    border-bottom: 2px solid #000;
}
.other1{
    margin-top: 23px;
    overflow: hidden;
}
.other1>span:nth-child(1){
    float: left;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.other1>span:nth-child(2){
    float: right;
    overflow: hidden;
}
.other1>span:nth-child(2) a{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    width: 220px;
    line-height: 59px;
    background-color: #fdd900;
    margin-right: 10px;
    text-align: center;
}
.other1>span:nth-child(2) a:nth-child(2){
    margin-right: 0;
}
