.home1{
  width: 100%;
}
.main{
  margin: 0 auto;
  width: 1200px;
}
.main_m{
  width: 1200px;
  margin: 0 auto;
  background-color: #2b2e33;
}
.main_con{
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 2px solid #4f4f4f;
  padding-bottom: 21px;
  display: flex;
}
.button{
  width: 1100px;
  padding-top: 21px;
  margin: 0 auto;
}
.button>a{
  display: block;
  line-height: 84px;
  color: #fdd900;
  border: 2px solid #fdd900;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.images{
  width: 1200px;
  margin: 0 auto;
}
.images img{
  display: block;
  width: 1200px;
}
